<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Licensing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load static %}
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
</head>
<body>
<div class="container">
    <div class="col-md-2 sidebar">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="{% static "img/logo.png" %}" alt="Licentic"/>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <p class="menu-text">Administration</p>
                <ul class="nav navbar-nav">
                    <li class="li-nav"><a href="{% url 'search' %}"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
                    <li class="li-nav"><a href="{% url 'products' %}"><i class="fa fa-list-alt" aria-hidden="true"></i>Products</a>
                    </li>
                    {% if request.user.is_staff or request.user.is_superuser %}
                        <li class="li-nav"><a href="{% url 'users' %}"><i class="fa fa-user"
                                                                                aria-hidden="true"></i>Users</a></li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <li class="li-nav"><a href="{% url 'companies' %}"><i class="fa fa-building-o"
                                                                              aria-hidden="true"></i>Companies</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <div class="col-md-10 main-div">
        <div class="row top-bar">
            <div class="dropdown user-dropdown">
                <button class="btn dropdown-btn dropdown-toggle" type="button" data-toggle="dropdown"><i
                        class="fa fa-user" aria-hidden="true"></i> {{ request.user.username }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu user-dropdown-menu">
                    <li><a href="/password_change">Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>

            {% if request.user.is_superuser and selected_company %}
                <div class="dropdown company-dropdown">
                    {% for company in companies %}
                        {% if selected_company == company.id %}
                            <button class="btn dropdown-btn dropdown-toggle" type="button"
                                    data-toggle="dropdown">{{ company.company_name }}
                                <span class="caret"></span></button>
                        {% endif %}
                    {% endfor %}
                    <ul class="dropdown-menu company-dropdown-menu">
                        {% for company in companies %}
                            {% if selected_company != company.id %}
                                <li><a href="/order/search?company={{ company.company_name }}">{{ company.company_name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        {% block body_block %}
        {% endblock %}

    </div>
</div>
</body>
</html>