{% extends "base.html" %}
{% load bootstrap3 %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "products/style.css" %}">
<script src="{% static "products/script.js" %}"></script>

<div class="row table-header">
    <div class="col-xs-8">
        <h2 class="title">Products</h2>
    </div>
    <div class="col-xs-4">
        <button type="button" class="btn add-new" onclick="openNav()">Add new product</button>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product name</th>
            <th>Short code</th>
          </tr>
        </thead>
        <tbody>
        {% for product in products %}
          <tr class='clickable-row' data-href="/product/{{product.id}}">
             <td>{{product.product_name}}</td>
             <td>{{product.short_code}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <form action={% url 'products' %} method="post" >
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-submit">
            Submit
        </button>
        {% if form.errors %}
        <script>openNav();</script>
        {% endif %}
    </form>
  </div>
</div>
{% endblock %}