title {
    color : black;
    font-size: 22px;
    text-align : left;
    margin:5px 0;
}
html, body{
    height:100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.container{
    width:100%;
    height:100%;
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
}
.navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-collapse.in {
    overflow-x: visible;
}

.row
{
    margin-left: 0px;
}

.navbar {
    height: 100%;
    border-radius: 0px;
    border:none;
    background-color: #333645;
}

.navbar-header {
    background-color: #39C3DD;
}

.menu-text {
    color: #676C84;
    padding: 20px 15px 0;
}


.navbar-default .navbar-brand {
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    line-height: 15px;
    height: 55px;
    padding: 5px 0 0 0;
}

.navbar-default .navbar-brand img {
    height:45px;
    display:inline;
}


.sidebar {
    padding: 0px;
    height: 100%;
}
.navbar-nav,
.navbar-nav > li,
.navbar-header
{
    float:none !important;
}

.navbar-collapse .navbar-nav:last-child {
    margin-right: 0;
}
.dropdown{
    float:right;
}
.dropdown-menu {
    position: absolute;
    top: 100%; /* Bottom of button */
    right: 0;
    margin-left: -100px; /* More to the left */
}
.dropdown-btn {
    background-color: #39C3DD;
    border: none;
    border-radius: 0;
    color: #fff;
    margin: 10px 15px 0 0px;
}

li.li-nav>a {
    color: #aaa !important;
}
li.li-nav:hover {
    background: #262932;
}
li.li-nav>a:hover {
    color:#39C3DD !important;
}
.fa {
    width: 20px;
}
.main-div {
    background-color: #FFFFFF;
    height: 100%;
}

.top-bar {
    height: 55px;
    border-bottom: 1px solid #eee;
}

.error-message {
    color: #ff0000;
}

.form-pass-change{
    width: 50%;
}
.form-pass-change .btn{
    border-radius: 0;
    color: #fff;
    background-color: #4cae4c;
    border: none;
    float: right;
}