{% extends "base.html" %}
{% load bootstrap3 %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "products/style.css" %}">

<h2>Edit version</h2>

<form class="edit-form" action={% url 'edit_installation_file' product_id installation_file.id %} method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-submit">Submit</button>
</form>

{% endblock %}