{% extends "base.html" %}
{% load bootstrap3 %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "products/style.css" %}">
<script src="{% static "products/script.js" %}"></script>

<div class="row table-header">
    <div class="col-xs-8">
        <h2 class="title">Product versions (product - {{product.product_name}})</h2>
    </div>
    <div class="col-xs-4">
        <button type="button" class="btn add-new" onclick="openNav()">Add new version</button>
    </div>

</div>
<div class="row">
  <div class="col-xs-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Version</th>
            <th>Release date</th>
            <th>Filename</th>
            <th>Link</th>
            <th>Enabled</th>
          </tr>
        </thead>
        <tbody>
        {% for installation_file in installation_files %}
          <tr class='clickable-row' data-href="/product/{{product.id}}/edit/{{installation_file.id}}">
             <td>{{installation_file.version}}</td>
             <td>{{installation_file.release_date}}</td>
             <td>{{installation_file.filename}}</td>
             <td>{{installation_file.full_link}}</td>
             {% if installation_file.enabled%}
                <td><img src="/static/admin/img/icon-yes.svg"></td>
             {% else %}
                <td><img src="/static/admin/img/icon-no.svg"></td>
             {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
</div>

<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <form action={% url 'installation_files' product.id %} method="post" >
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-submit">
            Submit
        </button>
    </form>
  </div>
</div>
{% endblock %}
