.table-header {
    padding-top: 20px;
}
.table {
    margin-top: 30px;
    border: 1px solid #eee;
}

.table>tbody>tr>td,
.table>thead>tr>th{
    padding: 12px;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #8c8b93;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay label{
    color: #ccc5b9;
}
form {
    width: 300px;
    margin: 0 auto;
}
.edit-form{
    margin-left: 0;
    margin-top: 40px;
}
.table-header .btn{
    border-radius: 0;
    color: #fff;
    background-color: #4cae4c;
    float: right;
    border: none;
}
.btn-submit{
    border-radius: 0;
    color: #fff;
    background-color: #4cae4c;
    border: none;
    float: right;
}